$color--dark: #333;
$color--border: #333;
$color--light: #fff;
$color--lighter: #efefef;
$color--green: #C8E6C9;
$color--orange: #FFAB00;

@mixin button {
  outline: 0;
  display: flex;
  vertical-align: middle;
  align-items: center;
  font-weight: 400;
  border: 3px solid #333;
  padding: 0;
  line-height: .65;
  color: $color--dark;
  background-color: #fff;
  font-size: 1.75rem;
  cursor: pointer;
  opacity: .25;
  
  &:hover {
    background-color: #333;
    color: #fff;
    opacity: 1;
    transform: scale(1.2);
  }
}

* {
  box-sizing: border-box; 
  transition: .3s;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 2rem 2rem;
  margin: 0 auto;
  background-color: #FF8A65;
  color: $color--dark;
  font-family: 'usual', 'Helvetica Neue';
  font-weight: 400;
  
  a {
    color: lighten($color--dark, 30%);
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  fieldset {
    border: 0;
  }
  
  @media (max-width: 600px) {
    padding: 0;
    
    .main {
      padding: 2rem 0 0 0;
    }
  }
  
  @media (max-width: 465px) {
    .bucket-list {
      padding: 0;
      border: 0;
      background-color: transparent;
    }
    
    .trip {
      margin: 1rem 0;
    }
  }
}

.main {
  padding: 2rem 1rem;
  
  header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 1rem;
  }
  
  h1 {
    display: inline-flex;
    font-weight: 400;
    align-items: center;
    width: auto;
    background-color: #fff;
    margin-right: 1rem;
    padding: 1rem 1.5rem;
    border: 5px solid $color--border;
    -webkit-font-smoothing: antialiased;
    
    img {
      width: 3rem;
      height: 3rem;
      margin-right: .5rem;
    }
  }
}

.bucket-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  margin: 0 1rem;
  padding: 1rem;
  border: 5px solid $color--border;
}

.trip {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 1 1 300px;
  padding: 2rem;
  margin: 1rem;
  border: 4px solid $color--border;
  background-color: #fff;
  
  li {
    width: 100%;
  }
  
  @media (max-width: 700px) {
    flex: 1 1 auto;
    align-items: center;
    
    &__image {
      width: 100%;
    }
  }
  
  &__delete {
    @include button;
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .25rem .25rem .25rem;
    font-size: .875rem;
    font-weight: 800;
  }
  
  &__city {
    font-size: 1.5rem;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 800;
  }
  
  &__country {
    font-style: italic;
    font-size: 1.25rem;
    color: #888;
    margin: .25rem 0 1rem;
  }
  
  &__image {
    border: 4px solid $color--border;
    min-height: 300px;
  }
  
  &__status {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    border: 4px solid $color--border;
    border-top: 0;
    order: 4;
    
    &--complete {
      background-color: #333;
      color: #fff;
    }
    
    &--incomplete {
      background-color: #fff;
    }
  }
}

.form {
  min-height: 3.5rem;
  padding: 1.5rem 1.5rem 1.5rem 0;
  width: auto;
  background-color: #fff;
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 600;
  border: 5px solid $color--border;
  
  @media (max-width: 1116px) {
    margin: 2rem 0 0;
  }
  
  fieldset {
    display: inline-flex;
    margin-right: 1.5rem;
    height: 100%;
    margin-left: 1.5rem;
    
    &:last-child {
      margin-left: auto;
      margin-right: 0;
    }
    
    @media (max-width: 775px) {
      margin-top: 1rem;
    }
  }
  
  &__label {
    // padding-left: 1rem;
    font-size: .875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 800;
  }
  
  &__input {
    max-width: 175px;
    font-family: 'usual', 'helvetica neue', serif;
    margin: .5rem 0 0;
    font-weight: 300;
    color: #888;
    font-style: italic;
    font-size: .875rem;
    padding: .25rem .25rem .25rem 0;
    border: 2px solid transparent;
    border-bottom: 2px solid #efefef;
    outline: 0;
    
    &:focus {
      color: #333;
      font-style: normal;
      border-bottom: 2px solid $color--border;
    }
    
    @media (max-width: 760px) {
      margin-bottom: 1rem;
    }
  }
  
  &__button {
    @include button;
    opacity: 1;
    padding: 0 .25rem .25rem;
  }
}